Incorrect namespace URI in example

The example XML instance in the [`dkhm:delDate` section of `README.md`](https://github.com/Punktum-dk/epp-service-specification?tab=readme-ov-file#dkhmdeldate) has an error:

```
<extension>
    <dkhm:delDate xmlns:dkhm="urn:dkhm:xml:ns:dkhm-4.4">2021-01-31T00:00:00.0Z</dkhm:delDate>
</extension>
```

should be

```
<extension>
    <dkhm:delDate xmlns:dkhm="urn:dkhm:params:xml:ns:dkhm-4.4">2021-01-31T00:00:00.0Z</dkhm:delDate>
</extension>
```

Also, please note that URN namespace prefixes (such as `urn:dkhm:`) should be registered with IANA, as per [Section 6 of RFC 8141](https://www.rfc-editor.org/rfc/rfc8141.html#section-6). 